@font-face {
  font-family: 'Pilat Wide';
  src: local('Pilat Wide Thin'), local('Pilat-Wide-Thin'),
    url('../public/fonts/PilatWide-Thin.woff2') format('woff2'),
    url('../public//fonts/PilatWide-Thin.woff') format('woff'),
    url('../public/fonts/PilatWide-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Pilat Wide Black';
  src: local('Pilat Wide Book'), local('Pilat-Wide-Book'),
    url('../public/fonts/PilatWide-Book.woff2') format('woff2'),
    url('../public/fonts/PilatWide-Book.woff') format('woff'),
    url('../public/fonts/PilatWide-Book.ttf') format('truetype');
  font-weight: 100px;
}

@font-face {
  font-family: 'Pilat Wide Title';
  src: local('Pilat Wide Black'), local('Pilat-Wide-Black'),
    url('../public/fonts/PilatWide-Black.woff2') format('woff2'),
    url('../public/fonts/PilatWide-Black.woff') format('woff'),
    url('../public/fonts/PilatWide-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.title {
  font-family: 'Pilat Wide Black';
}

.black {
  font-family: 'Pilat Wide Title';
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Pilat Wide';
  user-select: none;
}


body,
html {
  box-sizing: border-box;
  height: 100vh;
}



.invisible {
  background-color: transparent;
  border: none;
}

.line {
  display: flex;

}

.center {
  display: flex;
  justify-content: center;
}


.pointer {
  cursor: pointer;
}


[active="null"] {
  background-image: url("../public/images/svg/play/Play.svg");
}

[active="false"] {
  background-image: url("../public/images/svg/headphones/HeadPhones.svg");
}

[active="true"] {
  background-image: url("../public/images/svg/headphones/UnMutedHeadPhones.svg");
}