

.body{
  display: grid;
  padding: 24px;
  grid-gap: 24px;
  grid-template-rows: min-content min-content auto min-content min-content;
  grid-template-areas:
        "player"
        "primaryNav"
        "."
        "secondaryNav"
        "legal";
  width: 100vw;
  grid-template-columns: auto;

  @media (min-width: 800px) {
    padding: 40px;
    grid-gap: 0;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
    "player       . primaryNav" 
    ".            . .         " 
    "secondaryNav . legal     ";
}
@media (max-width: 800px) {
  
  justify-items: center;
}
}

.secondaryNav{
  display: flex;
  flex-direction: column;
  justify-self: start;
  grid-area: secondaryNav;
  z-index: 1;

  }
    @media (min-width: 800px) {
      .secondaryNav{
        flex-direction: row;
      }
      .secondaryNav > div{
        padding-left: 20px;
      }
  }

.secondaryNav > div > nav{
  margin-left: 0;
  padding-top: 0;

}

.legal{
  grid-area: legal;
  justify-self: end;
  align-self: end;
  z-index: 1;
}


.layout{
  position: absolute; 
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}