

body{
    background-image: linear-gradient(to bottom, #5ffbff, #40ebff, #4cd8ff, #72c3ff, #99acff, #ae9efa, #c68eee, #dc7cdc, #e575d2, #ee6dc7, #f566bc, #fb5faf);

    background-size: cover;
}


.margin{
    width: 100%;
    padding: 40px;
}
*, ::after, ::before{
    box-sizing: border-box;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

